.comment_input{
  display: flex;
  align-items: center;
  background: white;
  height: 70px;
}

.comment_input input{
  background: #ddd;
  border: none;
  outline: none;
  flex: 1;
  overflow: auto;
  
  height: 40px;
  border-radius: 10px;
  padding: 10px 10px;
  margin-left: 10px;
}

.comment_input .postBtn{
  border: none;
  outline: none;
  background: white;
  color: rgb(150, 150, 150);
  
  font-weight: 700;
  margin-left: 20px;
  margin-right: 10px;
}

/* ========== COMMENTS ========== */
.comment_display{
  padding: 4px 25px;
}

.comment_card .comment_content{
  background: #eee;
  padding: 5px;
  border-radius: 10px;
  border-top-left-radius: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment_card .comment_content .nav-item{
  cursor: pointer;
  opacity: 0;
  display: flex;
  align-items: center;
}

.comment_card .comment_content:hover .nav-item{
  opacity: 1;
}
.comment_card .comment_content .dropdown-menu{
  position: absolute;
  right: 0;
  left: inherit;
  
  padding: 0px;
}
.comment_card .comment_content .dropdown-menu :active{
  background-color: #ddd;
  color: black;
  border-radius: 5px;
  
} 

.comment_card .comment_content .dropdown-item{
  display: flex;
  margin: 5px 0;
}

.comment_card .comment_content .dropdown-item span{
  margin-right: 5px;
}

.comment_card .comment_content textarea{
  width: 100%;
  border: none;
  outline: none;
}