.alert-bg-success{
  background-color: #00cc55;
  color: black;
}

.mode{
  width: 100%;
  height: 100vh;
}

.readMore{
  color: #4F46E5;
  font-weight: 600;
  cursor: pointer;
}


.alert-box.hidden{
	animation: hideAlert 8s ease forwards;
}
@keyframes hideAlert{
	0%{
		transform: translateX(-30px);		
	}
	40%{
		transform: translateX(0%);	
	}
	80%{
		transform: translateX(-10%);
	}
	100%{
	   transform: translateX(110%);		
	}
}

.logo-icon{
	width: 100px;
	display: block; 
	margin-left: auto; 
	margin-right: auto;
}

.font-weight-text{
	font-weight: 400;
}

.message{
	height: calc(100vh - 150px)
}

