* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#theme {
  display: none;
}
#theme:checked ~ * {
  filter: invert(90%);
}

.App {
  width: 100%;
  min-height: 100vh;
  background: white;
  
}

.main {
  max-width: 1000px;
  width: 100%;
  min-height: 100vh;
  margin: auto;
}

img {
  object-fit: cover;
}

/*======Custom Button=======*/

.btn-more{
  color: white;
  background: #8E2DE2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  
  background: linear-gradient(to right, #4A00E0, #8E2DE2); 
  filter: none;
}

.btn-more:hover{
  color: white;
  background: #8E2DE2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #554ac9, #8E2DE2);  
  background: linear-gradient(to right, #554ac9, #8E2DE2); 
}

/*======Custom Scrollbar=======*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(230, 230, 230); 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(194, 194, 194, 0.533); 
  border-radius: 10px;
}


/* -------- GLOBAL ---------- */
@import url("./global.css");

/* -------- AUTH ---------- */
@import url("./auth.css");

/* -------- LOADING ---------- */
@import url("./loading.css");

/* -------- HEADER ---------- */
@import url("./header.css");

/* -------- AVATAR ---------- */
@import url("./avatar.css");

/* -------- HEADER ---------- */
@import url("./header.css");

/* -------- PROFILE ---------- */
@import url("./profile.css");

/* -------- HOME ---------- */
@import url("./home.css");

/* -------- STATUS ---------- */
@import url("./statusModal.css");

.mode{
  width: 100%;
  height: 100vh;
}


