.status{
  background: white;
  /* box-shadow: 0 0 5px #ddd; */
  padding: 20px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.status .statusBtn{
  width: 100%;
  background: #f1f1f1;
  border: none;
  outline: none;
  border-radius: 10px;
  color: #555;
  padding: 0 20px;
  text-align: left;
  margin: 0 0px 0 10px;

}

.status .statusBtn:hover{
  background: #ddd;
}

/* =========POSTS========= */

.posts .card{
  box-shadow: none;
}

.posts .card_header{
  display: flex;
  justify-content: space-between;
  align-items:center;
  cursor: pointer;
  padding: 15px 25px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.posts .card_header .card_name{ 
  transform: translateY(4px);
  margin-left: 10px;
}

.posts .card_header .dropdown-menu{
  position: absolute;
  left: inherit !important;
  right: -26px;
  width: 100px;
}
.posts .card_header .dropdown-menu :active{
  background-color: #ddd;
  color: black;
  border-radius: 5px;
}
.posts .card_header .dropdown-item{
  display: flex;
  
  padding: none;
}

.posts .card_header .dropdown-item span{
  margin-right: 5px;
}


/* ========== POST CARD BODY ========== */
.card_body-content{
  padding: 0 25px;
  margin: 10px 0px;
}

.carousel-inner{
  position: relative;
}

.carousel-inner .img{
  position: absolute;
}

.carousel-indicators li {
  border-radius: 50%;
  width: 3px;
  height: 3px;
  padding: 3px;
  position: relative;
  margin: 0 4px;
  background-color: transparent;
  opacity: 1;
  top: 50px;
  left: 0px;
  bottom: 50px;
  right: 0px;
}

.carousel-indicators li:after {
  border-radius: 50%;
  padding: 3px;
  border: 2px solid #4F46E5;
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  bottom: 50px;
  right: 0px;
}

.carousel-indicators li.active {
  background-color: #4F46E5;
}


/* ========== POST CARD FOOTER ========== */
.card_icon_menu{
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  cursor: pointer;
}

.card_icon_menu i{
  font-size: 20px;
  margin: 8px;
  padding: 10px 10px;
  border-radius: 50%;
  background-color: #ddd;
}

.card_icon_menu .bookmark{
  padding: 10px;
}

/* ========== LEFT SIDE BAR ========== */
.sidebar-items {
  background-color: #89d4cf;
  background-image: linear-gradient(315deg, #89d4cf 0%, #6e45e1 74%);
  padding: 30px;
  border-radius: 5px;
}

.sidebar-items ul{
  color: white;
}

.sidebar-items h5{
  color: #b988ff;
  margin-bottom: 15px;
  background-color: #440d92;
  padding: 10px 10px;
  margin: 0px -10px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.sidebar-items ul li:hover{
  background-color: rgb(177, 111, 240);
  border-radius: 5px;
  text-decoration:none;
  cursor:pointer;
}

.sidebar-items ul li{
  padding: 8px 0px;
}

.sidebar-items ul li a{
  color: white;
  font-size: 1rem;
  font-weight: 600;
  text-decoration:none;
}

.menu-bars-icon{
  font-size: 2rem;
}