.status_modal{
  position: fixed;
  background: #0008;
  top: 0;
  right: 0;
  z-index: 4;
  width: 100%;
  height: 100vh;
  overflow: auto;
}

.status_modal form{
  max-width: 450px;
  width: 100%;
  background: white;
  margin: 30px auto;
  padding: 20px;
  border-radius: 5px;

}

.status_header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
  transform: translateY(-13px);
}

.status_header span{
  font-size: 2rem;
  font-weight: 900;
  cursor: pointer;
  transform: translateY(-7px);
}

.status_body textarea{
  width: 100%;
  min-height: 150px;
  border: none;
  outline: none;
  resize: none;
}

.status_body .input_images{
  position: relative;
  display: flex;
  justify-content: center;
  color: #4F46E5;
  margin-top: 20px;
}

.status_body i{
  font-size: 2rem;
  cursor: pointer;
}

.status_body .file_upload{
  overflow: hidden;
  margin-left: 10px;
  position: relative;
  color: #4F46E5;
}

.status_body .file_upload .fa-image{
  font-size: 30px;
}

.status_body .input_images .file_upload #file{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

/*======SHOW IMAGE======*/
.status_body .show_images{
  max-height: 250px;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  place-items: center;
}



.status_body .show_images #file_img{
  position: relative;
  width: 100%;
  height: 100%;
}

.status_body .show_images #file_img img,
.status_body .show_images #file_img video{
  display: block;
  object-fit: contain;
  width: 100%;
  height: 100%;
  border: 2px dashed;
  border-color: #4F46E5;
  max-height: 100px;
  
}
.status_body .show_images #file_img #image_trash{
  position: absolute;
  top: 3px;
  right: 3px;
  z-index: 4;
  background-color: white;
  color: #4F46E5;
  padding: 4px 5px;
  border: 1px solid #4F46E5;
  border-radius: 50%;
  font-size: 10px;
  font-weight: bolder;
  cursor: pointer;
}

.status_body .stream i{
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  background-color: #4F46E5;
  padding: 10px 10px;
  border-radius: 10px;
  opacity: 70%;
}